# phpStorm
.idea

yii16

# Yii
assets/*
!assets/git-gitkeep
protected/runtime/*
!protected/runtime/git-gitkeep
themes/*

!*assets
sitemap*.*xml
# Css
css/client.css

# Images
images/**/*.jpg
images/product/*
images/gallery/*
!images/product/git-gitkeep
images/page/*
!images/page/git-gitkeep
images/event/*
!images/event/git-gitkeep
!images/shop/
images/sale/*
!images/sale/git-gitkeep
images/carousel/*
!images/carousel/git-gitkeep

# Files
files
!files/.htaccess

# Eclipse
/.settings/
.buildpath
.project

# local
local.index.php